#page-header {
    background: url(letter-bg.jpg);
    height: 10vh;
    position: relative;
    background-size: 20%;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 10px;
    background-position: center;
}
#page-header h2 {
    color: #fff;
}
#page-header h2 {
    font-size: 40px;
    line-height: 40px;
}

