
{% load static %}

<html lang="en">

<head>
 
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 
 
  <link rel="icon" type="image/png" href="{% static 'login/images/icons/favicon.ico'%}"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" charset="utf-8"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap">
    <link rel="stylesheet" href="{%static 'assets/css/fontawesome.min.css'%}">
   
    

    <link rel="stylesheet" href="{% static '/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/templatemo.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css'%}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    
    <title>Myx Culture</title>

  



</head>
<style>
  
</style>

<body>
  

<nav class="navbar navbar-expand-lg navbar-light bg-light shadow fixed-top">
    <div class="container d-flex justify-content-between align-items-center">

        <a class="navbar-brand text-success logo h1 align-self-center" href="{% url 'home'%}">
            <img src="{% static 'logo/logo.png'%}" alt="" style="width:50px;height:50px,colortext-light;">
        </a>

        <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#templatemo_main_nav" aria-controls="templatemo_main_nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="align-self-center collapse navbar-collapse flex-fill  d-lg-flex justify-content-lg-between" id="templatemo_main_nav">
            <div class="flex-fill">
                <ul class="nav navbar-nav d-flex justify-content-between mx-lg-auto">
                    <li class="nav-item">
                   
                    </li>
                    <li class="nav-item">
                       
                    </li>
                    
                </ul>
            </div>
           
            <div class="navbar align-self-center d-flex">
              <a class="nav-icon position-relative text-decoration-none" href="#">
                
                      <a class="nav-link" href="{% url 'home' %}">Home</a>
                      <a class="nav-link" href="{% url 'shop' %}">Shop</a>
                   
                      <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                      <a class="nav-icon position-relative text-decoration-none" href="{%url 'cart'%}" id="cartLink">
                        Cart
                      
                          <i class="fa fa-fw fa-cart-arrow-down text-dark mr-1"></i>
                          <span class="position-absolute top-0 left-100 translate-middle badge rounded-pill bg-light text-dark" id="cartItemCount">{{ request.session.cart.keys|length }}</span>
                        </a>

                  
                        
                     
              </a>
          </div>
          
            
           
            </div>
        </div>

    </div>
</nav>


  
  




  
  <!---->


   
  


  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

    <script src="{%static 'js/jquery-1.11.0.min.js'%}"></script>
    <script src="{%static 'js/jquery-migrate-1.2.1.min.js'%}"></script>
    <script src="{%static 'js/bootstrap.bundle.min.js'%}"></script>
    <script src="{%static 'js/templatemo.js'%}"></script>
    <script src="{%static 'js/custom.js'%}"></script>


   
</body>

